.btn-primary-orange {
  background: $btn-primary-orange-bg;
  color: $btn-primary-orange-color;
  padding: 1rem 3rem;
  border-radius: 5px;
  margin-top: 3rem;
  display: inline-block;
  text-transform: uppercase;
  transition: all .5s!important;
  
  &:hover {
    background: $btn-primary-orange-hover-bg;
  }
}

.btn-secondary {
  background: $secondary-btn-bg;
  color: $secondary-btn-color;
  padding: 1rem 3rem;
  border-radius: 5px;
  margin-top: 3rem;
  display: inline-block;
  transition: all .5s;
  text-transform: uppercase;
  
  &:hover {
    background: $secondary-btn-hover-bg;
  }
}

.btn-primary-blue {
  background: $btn-primary-blue-bg;
  color: $btn-primary-blue-color;
  padding: 1rem 3rem;
  border-radius: 5px;
  margin-top: 3rem;
  display: inline-block;
  transition: all .5s;
  text-transform: uppercase;
  font-family: 'Roboto-mono';
  
  &:hover {
    background: $btn-primary-blue-hover-bg;
  }
}

.p-title {
  text-transform: capitalize;
  color: $orange;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}