.primary-button {
  margin-top: 3rem;
  a {
    padding: 1rem 3rem;
    background: $light-blue;
    border-radius: 25px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;
    border: solid 3px $light-blue;
    
    &:hover {
      background: $white;
      color: $light-blue;
    }
  }
}

.secondary-btn {
  margin-top: 3rem;
  
  a {
    padding: 1rem 3rem;
    background: $white;
    border-radius: 25px;
    color: $light-blue;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;
    border: solid 3px $white;
    
    &:hover {
      background: $dark-blue;
      color: $white;
      border-color: $dark-blue;
    }
  }
}

.read-more {
  text-align: center;
  background: $light-blue;
  color: $white;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 100px;
  padding: 1rem 3rem;
  transition: all .5s;

  &:hover {
    opacity: .9;
  }
}