.contact-page {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $gray;

  .form {

    .item {
      width: 100%;
      // height: 50px;
      padding: 0 1rem;
      border-radius: 5px;
      border: solid 1px $light-blue;
      margin-top: 1.5rem;
      transition: all .5s;

      &:focus {
        outline: none;
      }

      &:hover {
        border-color: $pink;
      }

    }

    button {
      margin-top: 2rem!important;
      border: none;
      cursor: pointer;
    }

    input {
      height: 50px;
    }

    textarea {
      height: 100%;
      padding-top: 1rem !important;

      &::placeholder {

      }
    }

  }

}
.contact-details {
  background: $blue;
  padding: 80px 0;
  color: $white;

  .title {
    text-align: center;
    padding-bottom: 2rem;
  }
}