.scroll {
  margin-top: 70vh;
}

.footer {
  height: auto;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.footer-menu {
  padding: 10px 0;
  padding-top: 100px;
  background: #eee;
  color: $footer-color;

  .menu {
    margin-top: 50px;
    
    ul {
      padding: 0;

      .item {
        list-style-type: none;
        color: $footer-color;
        margin: .7rem 0;
  
        a {
          color: $footer-color;
          text-decoration: none;
          transition: all .5s;
  
          &:hover {
            color: $light-blue;
  
          }
        }
      }
    }
  }  
}

.footer-copyright {
  background: $light-blue;
  color: $dark-blue;
}