.home {
  padding: 0 0 70px 0;

  .hero {
    background: $blue;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);

    .home-intro {
      position: relative;
      height: 90vh;

      .home-intro-box {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .services {
    background: $gray;
    padding: 8rem 0;
    margin-top: -8rem;
    text-align: center;    
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);


    .box {
      height: 420px;
      background: $white;
      border: solid 1px $blue;
      border-radius: 5px;
      color: $orange;
      box-sizing: border-box;
      transition: all .5s;
      cursor: pointer;
      font-weight: 200;
      line-height: normal;

      &:hover {
        background: $blue;
        color: $white;

        .btn-primary-blue {
          background: $orange;
        }
      }

      img {
        width: 100%;
      }

      h3 {
        text-align: left;
      }

      footer {
        padding: 1rem;
      }
    }

    .btn-primary {
      text-align: center;
    }
  }
}