.home-hero {
  position: relative;
  height: 100vh;
  background-image: url('/assets/images/banner_01.jpg');
  
  .info {
    padding-top: 200px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    .hero-title {
      font-size: 78px;

      .hero-sub_title {
        font-size: 36px;
      }
    }
  }
}