.home {
  padding: 0 0 70px 0;

  .hero {
    background: $light-blue;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);

    .home-intro {
      position: relative;
      height: 90vh;
      text-align: center;
      
      .home-intro-box {
        color: $white;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        text-align: center;
        
      }
    }
  }

  .home-primary-section {
    background: $gray;
    padding: 8rem 0;
    margin-top: -8rem;
    text-align: center;    
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);


    .box {
      height: 420px;
      background: $white;
      border: solid 1px $blue;
      border-radius: 5px;
      color: $orange;
      box-sizing: border-box;
      transition: all .5s;
      cursor: pointer;
      font-weight: 200;
      line-height: normal;

      &:hover {
        background: $light-blue;
        color: $white;

        .btn-primary-blue {
          background: $orange;
        }
      }

      img {
        width: 100%;
      }

      h3 {
        text-align: left;
      }

      footer {
        padding: 1rem;
      }
    }

    .btn-primary {
      text-align: center;
    }
  }

  .home-secondary-section {
    background: $light-blue;
    padding: 8rem 0;
    margin-top: -8rem;
    text-align: center;    
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);

    .p-title {
      color: $white;
    }

    .box {
      height: 420px;
      background: $white;
      border: solid 1px $blue;
      border-radius: 5px;
      color: $orange;
      box-sizing: border-box;
      transition: all .5s;
      cursor: pointer;
      font-weight: 200;
      line-height: normal;

      &:hover {
        background: $orange;
        color: $white;

        .btn-primary-blue {
          background: $light-blue;
        }
      }

      img {
        width: 100%;
      }

      h3 {
        text-align: left;
      }

      footer {
        padding: 1rem;
      }
    }

    .btn-primary {
      text-align: center;
    }
  }

  .services {

  }

  .technology {
 
  }

  .industries {

  }

  .events {
    -webkit-clip-path: polygon(0 10%,100% 0%,100% 90%,0 100%);
    clip-path: polygon(0 10%,100% 0%,100% 90%,0 100%);
   
    .event-box {  
      height: 300px;
      background: $white;
      
      &.text-box {
        padding: 1rem 2rem;
        text-align: left;
        color: $orange;
      }
      
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
