.page-hero {

  img {
    height: 70vh;
    width: 100%;
  }
}

section.description {
  background: $dark-blue;

  .page-menu {
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;

    .items {
      list-style: none;
      display: inline-block;
      margin: 0 .5rem;

      a {
        text-decoration: none;
        color: $white;
        transition: all .5s;
        text-transform: uppercase;

        &:hover {
          color: $light-blue;
        }
      }
    }
  }
}

.content {
  padding: 50px 0;
  background-color: #eee;
}

.carousel {
  padding: 50px 0;

  .title {
    color: $dark-blue;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;

    a {
      color: $light-blue;
      font-size: 14px;
    }
  }
}

.related-case-study {
  background: $white;
}

.carousel-box {
  
  a {
    text-decoration: none;

    &:hover {
      transition: all .5s;
      h3 {
        background: $light-blue;
      }
    }
  }

  img {
    height: 250px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    
  }
  
  h3 {
    border-radius: 0 0 5px 5px;
    transition: all .5s;
    background: $dark-blue;
    margin: 0;
    padding: 1rem;
    color: $white;
  }
}

.related-articles {
  background: #eee;
}

.additional-resources {
  background: $white;

  .box {
    border: solid 1px $light-blue;
    padding: 30px;
    margin-top: 2rem;
    border-radius: 10px;
    h3 {
      color: $light-blue;
      margin: 0;
    }

    p {
      color: $dark-blue;
    }
  }
}

.industries-and-services {
  background: #eee;

}
.sticky-menu {
  position: fixed;
  top: 70px;
  width: 100%;
  opacity: 1;
  z-index: 10;
}

.sticky-menu + .content {
  padding-top: 100px;
}

.work-shop {
  background: $white;
  
  img {
    width: 100%;
  }

  .View-all {
    display: block;
    background: $dark-blue;
    width: fit-content;
    border-radius: 100px;
  }

  .link {
    text-transform: uppercase;
    padding-top: 20px;
    display: inline-block ;
  }
}

.case-study {
  background: $light-blue;

  .title {
    color: $white;
    padding-top: 3rem;
    text-align: center;
    margin: 0 auto;
  }
}

.case-study-list {
  padding: 50px;
  background: $white;

  .box {
    height: 320px;
    background: $light-blue;
    border-radius: 5px;
  
    .cover {
      
      img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 250px;
      }
    }

    .title {
      color: $white;
      padding: 0 1rem;
    }
  }
}

.padding {
  padding: .5rem 0;
}

.single-case {
  background: $white;
  padding: 50px 0;

  .single-page-cover {

    img {
      width: 100%;
      height: 400px;
    }
  }

  .author {
    color: $light-blue;
    text-transform: capitalize;
  }

  .title {
    font-size: 48px;
    text-transform: uppercase;
    color: $dark-blue;
  }
}

.blog-list {

  .box {
    height: 400px;
  }
}