$pink: #F54EA2;
$orange: #FF794D;
$blue: #0F2B9A;
$white: #fff;
$black: #000;

$light-blue:#3926d3;
$dark-blue: #010b2d;
$white: #fff;
$orange: #F80103;

$footer-color: $dark-blue;

// Home
$home-bg: $blue;

// header
$header-link: $blue;
$header-link-hover: $pink;