.what-we-do {
  padding-top: 72px;
  background: $gray;

  .section {
    padding-bottom: 3rem;
  }

  .hero {
    height: 60vh;
    background-image: url('/assets/images/bg/lab.jpg');
    background-size: cover;
    color: $white;

    h1 {
      font-size: 68px;
    }

    h4 {
      font-size: 28px;
      margin-bottom: .5rem;
    }

    p {
      font-size: 28px;
      margin: 0;
    }
  }

  .approuch, .section {

    .title {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font-size: 46px;
      line-height: 44px;
      color: $l-black;

      span {
        font-weight: normal;
      }
    }
  }

  .box {
    background: $white;
    padding: 1rem 2rem;
    color: $l-black;  

    img {
      width: 130px;
    }

    h1 {
      font-size: 25px;
      color: $orange;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-top: 1rem;

        ul {
          padding-left: 1rem;
        }

      }
    }

    p {
      word-spacing: 1px;
      font-size: 16px;
      color: $l-black;
    }
  }

  .list-box {
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: $l-black !important;
    background: $white;
    border-radius: 5px;

    a {
      color: $orange;
      transition: all .5s;

      &:hover {
        color: $blue;
      }
    }

    img {
      height: 70px;
    }
  }

  .list-section {
    padding: 2rem 0 4rem 0;
  }
}

.digital-strategy {

}