{{ define "main" }}

<section class="case-study">
  <div class="container">
    <div class="row">
      <h1 class="title">
        case study
      </h1>
    </div>
  </div>
</section>

<section class="case-study-list">
  <div class="container">
    <div class="row">
      {{ range where .Data.Pages "Section" "case-studies" }}
      <div class="col-sm-6">
        <div class="case-box">
          <div class="row">
            <div class="col-sm-6 no-padding">
              <div class="cover">
                <img src="{{.Params.cover}}" alt="">
              </div>
            </div>
            <div class="col-sm-6 no-padding">
              <div class="title">
                <p>{{.Title}}</p>
                <a href="{{.URL}}" class="read-more-btn">read mores</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  
</section>


{{ end }}