{{ define "main" }}

<section class="case-study">
  <div class="container">
    <div class="row">
      <h1 class="title">
        case study
      </h1>
    </div>
  </div>
</section>

<section class="case-study-list">
  <div class="container">
    <div class="row">
      {{ range where .Data.Pages "Section" "case-studies" }}
      <div class="col-sm-4">
        <div class="box">
          <a href="{{ .URL }}">
          <div class="cover">
            <img src="{{.Params.cover}}" alt="">
          </div>
          <div class="title">
            <p>{{.Title}}</p>
          </div>
          </a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
  
</section>


{{ end }}