{{ define "main" }}
<main class="blog">

  <section class="introduction">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-8">
          <div class="home-intro">
            <div class="home-intro-box">
              <h1 data-aos="fade-up" data-aos-duration="3000">Our Articles</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="home">

    <section class="home-primary-section articles">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="col-sm-10">
            <div class="row">
              {{ range where .Data.Pages "Section" "blog" }}
              <div class="col-sm-4" data-aos="fade-up" data-aos-duration="2000">
                <div class="box">
                  <article>
                    <header>
                      <div class="cover">
                        <img src="/assets/images/big-data/big-data-cover.jpg" alt="">
                      </div>
                    </header>
                    <footer>
                      <h3>{{.Title}}</h3>
                      <a class="btn-primary-blue" href="{{.URL}}" data-aos="zoom-in" data-aos-duration="3000">
                        Read more
                      </a>
                    </footer>
                  </article>
                </div>
              </div>
              {{end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


{{ end }}