{{ define "main" }}

<main class="career">
  <section class="main page-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>WORK WITH US</h1>

          <h3>We’ve combined a variety of special skills to create the world’s first integrated, end-to-end mobility company.
          Mobility isn’t just part of what we do, it’s why we exist – to reinvent business through mobility.</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="job">
    <div class="container">
      <div class="row">
        {{ range (where .Site.Pages "Section" "job") }}
        {{ $pagename := "Jobs"}}
        {{ if ne .Title $pagename }}

        <div class="col-sm-4">
          <div class="job-box">
            <header>
              <h2>{{.Title}}</h2>
            </header>
            <footer>
              <a class="btn-primary-orange" href="{{.URL}}" data-aos="fade-up" data-aos-duration="3000">
                Apply Now
              </a>
            </footer>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
    </div>
  </section>
  {{ partial "footer-contact" . }}

</main>


{{ end }}