{{ define "main" }}

<main class="blog">

  <section class="introduction">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-8">
          <div class="home-intro">
            <div class="home-intro-box">
              <h1 data-aos="fade-up" data-aos-duration="3000">Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <form action="#" class="form">
            <div class="row">
              <div class="col-sm-12">
                <textarea name="message" class="item" placeholder="Tell us what are you looking for..." id="" cols="" rows="5"></textarea>
              </div>
              <div class="col-sm-12">
                <input type="text" class="item" placeholder="Your full name">
              </div>
              <div class="col-sm-12">
                <input type="email" class="item" placeholder="Your Email address">
              </div>
              <div class="col-sm-12">
                <button type="submit" class="submit btn-primary-blue ">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
  </section>
  <section class="contact-details">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <h1 class="title">Our offices</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="address">
                <h2>London </h2>
                <p>New London House ,</p>
                <p>6 London Street ,</p>
                <p>London,</p>
                <p>EC3R 3LP</p>
                <p>F:++ (0) 203 741 9501</p>
                <p>T:++44 (0) 203 741 9665</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="address">
                <h2>London</h2>
                <p>New London House ,</p>
                <p>6 London Street ,</p>
                <p>London,</p>
                <p>EC3R 3LP</p>
                <p>F:++ (0) 203 741 9501</p>
                <p>T:++44 (0) 203 741 9665</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

</main>
{{ end }}