{{ define "main" }}

<section class="page-hero">
  <img src="{{ .Params.cover }}" alt="">
</section>
<section class="description">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-12">
            <ul class="page-menu">
              <li class="items"><a href="#">case studies</a></li>
              <li class="items"><a href="#">articles</a></li>
              <li class="items"><a href="#">resources</a></li>
              <li class="items"><a href="#">services</a></li>
              <li class="items"><a href="#">workshops</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!--  -->
        <div class="row">
          <div class="col-12">
            <p>{{ .Content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- case-study  -->
<section class="related-case-study carousel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Related Case Studies <span><a href="#">view all</a></span></h1>
      </div>
    </div>
    <div class="row related-case-study-carousel">
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Articles  -->
<section class="related-articles carousel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Related Articles <span><a href="#">view all</a></span></h1>
      </div>
    </div>
    <div class="row related-case-study-carousel">
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Resources  -->
<section class="additional-resources carousel">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Additional Resources</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}