{{ define "main" }}

<section class="page-hero">
  <img src="{{ .Params.cover }}" alt="">
</section>
<section class="description"  id="page-header">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-12">
            <ul class="page-menu">
              <li class="items"><a href="#case-study">case studies</a></li>
              <li class="items"><a href="#articles">articles</a></li>
              <li class="items"><a href="#resources">resources</a></li>
              <li class="items"><a href="#services">services</a></li>
              <li class="items"><a href="#work-shop">workshops</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">{{.Title}}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!--  -->
        <div class="row">
          <div class="col-12">
            <p>{{ .Content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- case-study  -->
<section class="related-case-study carousel" id="case-study">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Related Case Studies <span><a href="#">view all</a></span></h1>
      </div>
    </div>
    <div class="row related-case-study-carousel">
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Articles  -->
<section class="related-articles carousel" id="articles">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Related Articles <span><a href="#">view all</a></span></h1>
      </div>
    </div>
    <div class="row related-case-study-carousel">
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Resources  -->
<section class="additional-resources carousel" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Additional Resources</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h3>Obscuring and Analyzing Sensitive Information with Generative Adversarial Networks</h3>
          <p class="summary">In this white paper, we explore the feasibility of generating representative data for two types of data: binary input from medical records and real-valued sensor data from industrial mining trucks.</p>
          <a href="#" class="read-more">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- services  -->
<section class="industries-and-services carousel" id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Related industries and services <span><a href="#">view all</a></span></h1>
      </div>=
    </div>
    <div class="row related-case-study-carousel">
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carousel-box">
          <a href="#">
            <div class="cover-img">
              <img src="/assets/images/blog/SDWanHeader-01.jpg"
                alt="Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...">
            </div>
            <div class="case-study-footer">
              <h3>Use WWT’s SD-WAN On-Demand Lab Environments to Determine the Right...</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work-shop carousel" id="work-shop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="title">workshops</h1>
      </div>
    </div>  
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!--  -->
        <div class="row">
          <div class="col-12">
            <img src="/assets/images/workshop/simplify-v4.jpg" alt="">
            <h3><a href="#"  class="link">1xglobal advance technology center</a></h3>
            <p>CIOs come to the ATC to sort through the complexities of today's technology</p>
            <p>The WWT Advanced Technology Center offers testing environments in networking, mobility, collaboration, security,
            compute, cloud, storage and big data.</p>
            <a href="#" class="read-more">Read More</a>
            
            <h2>workshops</h2>
            <p><a href="#"  class="link">AI as a Service Workshop - Financial Services</a></p>
            <p>WWT’s long-standing partnership with best-of-breed innovators in AI means we’re able to help companies build AI
              solutions with faster time to value.</p>
            <a href="#" class="read-more">Read More</a>
            <br>
            <a href="#" class="link">IoT Strategy Workshop</a>
            <p>WWT’s IoT Strategy Workshop explores beyond the hype surrounding the latest trends and tools to demonstrate how our
            prescribed methodology helps organizations capitalize on next-generation IoT solutions, approaches and platforms for
            real-world solutions to their unique problems.</p>
            <a href="#" class="read-more">Read More</a>
            <a href="#" class="read-more View-all">View all</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
</section>

{{ end }}