<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="menu">
          <h3>Services</h3>
          <ul>
            <li class="item">
              <a href="#">Consulting Services</a>
            </li>
            <li class="item">
              <a href="#">Lab Services</a>
            </li>
            <li class="item">
              <a href="#">Supply Chain Management</a>
            </li>
            <li class="item">
              <a href="#">Deployment Services</a>
            </li>
            <li class="item">
              <a href="#">Staffing Services</a>
            </li>
            <li class="item">
              <a href="#">Lifecycle Services</a>
            </li>
            <li class="item">
              <a href="#">Advanced Technology Center</a>
            </li>
            <li class="item">
              <a href="#">Global Integration Centers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="menu">
          <h3>Solutions</h3>
          <ul>
            <li class="item">
              <a href="#">Big Data</a>
            </li>
            <li class="item">
              <a href="#">Multicloud</a>
            </li>
            <li class="item">
              <a href="#">Collaboration</a>
            </li>
            <li class="item">
              <a href="#">Compute</a>
            </li>
            <li class="item">
              <a href="#">Internet of Things (IoT)</a>
            </li>
            <li class="item">
              <a href="#">Mobility</a>
            </li>
            <li class="item">
              <a href="#">Networking</a>
            </li>
            <li class="item">
              <a href="#">Security</a>
            </li>
            <li class="item">
              <a href="#">Software</a>
            </li>
            <li class="item">
              <a href="#">Storage</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="menu">
          <h3>Industries</h3>
          <ul>
            <li class="item">
              <a href="#">Consulting Services</a>
            </li>
            <li class="item">
              <a href="#">Lab Services</a>
            </li>
            <li class="item">
              <a href="#">Supply Chain Management</a>
            </li>
            <li class="item">
              <a href="#">Deployment Services</a>
            </li>
            <li class="item">
              <a href="#">Staffing Services</a>
            </li>
            <li class="item">
              <a href="#">Advanced Technology Center</a>
            </li>
            <li class="item">
              <a href="#">Consulting Services</a>
            </li>
            <li class="item">
              <a href="#">Global Integration Centers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="menu">
          <h3>Technologies</h3>
          <ul>
            <li class="item">
              <a href="#">Big Data</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>