<div class="scroll"></div>
<footer class="footer">
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="menu">
            <h3>Services</h3>
            <ul>
              <li class="item">
                <a href="/services/consulting-services/">Consulting Services</a>
              </li>
              <li class="item">
                <a href="/services/lab-services/">Lab Services</a>
              </li>
              <li class="item">
                <a href="/services/supply-chain-services/">Supply Chain Management</a>
              </li>
              <li class="item">
                <a href="/services/deployment-services/">Deployment Services</a>
              </li>
              <li class="item">
                <a href="/services/staffing-services/">Staffing Services</a>
              </li>
              <li class="item">
                <a href="/services/lifecycle-services/">Lifecycle Services</a>
              </li>
              <li class="item">
                <a href="/services/atc/">Advanced Technology Center</a>
              </li>
              <li class="item">
                <a href="/services/global-integration-centers/">Global Integration Centers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Solutions</h3>
            <ul>
              <li class="item">
                <a href="/solution/big-data/">Big Data</a>
              </li>
              <li class="item">
                <a href="/solution/multicloud/">Multicloud</a>
              </li>
              <li class="item">
                <a href="/solution/collaboration/">Collaboration</a>
              </li>
              <li class="item">
                <a href="/solution/compute/">Compute</a>
              </li>
              <li class="item">
                <a href="/solution/iot/">Internet of Things (IoT)</a>
              </li>
              <li class="item">
                <a href="/solution/mobility/">Mobility</a>
              </li>
              <li class="item">
                <a href="/solution/networking/">Networking</a>
              </li>
              <li class="item">
                <a href="/solution/security/">Security</a>
              </li>
              <li class="item">
                <a href="/solution/software-development/">Software</a>
              </li>
              <li class="item">
                <a href="/solution/storage/">Storage</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Industries</h3>
            <ul>
              <li class="item">
                <a href="/industry/education/">Education</a>
              </li>
              <li class="item">
                <a href="/industry/federal-government/">Federal Government</a>
              </li>
              <li class="item">
                <a href="/industry/financial-services/">Financial Services</a>
              </li>
              <li class="item">
                <a href="/industry/healthcare/">Healthcare</a>
              </li>
              <li class="item">
                <a href="/industry/manufacturing/">Manufacturing</a>
              </li>
              <li class="item">
                <a href="/industry/oil-gas/">Oil & Gas</a>
              </li>
              <li class="item">
                <a href="/industry/retail/">Retail</a>
              </li>
              <li class="item">
                <a href="/industry/service-provider/">Service Provider</a>
              </li>
              <li class="item">
                <a href="/industry/state-local-government/">State & Local Government</a>
              </li>
              <li class="item">
                <a href="/industry/utilities/">Utilities</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Technologies</h3>
            <ul>
              <li class="item">
                <a href="#">Technologies 1</a>
              </li>
              <li class="item">
                <a href="#">Technologies 2</a>
              </li>
              <li class="item">
                <a href="#">Technologies 3</a>
              </li>
              <li class="item">
                <a href="#">Technologies 4</a>
              </li>
              <li class="item">
                <a href="#">Technologies 5</a>
              </li>
              <li class="item">
                <a href="#">Technologies 6</a>
              </li>
              <li class="item">
                <a href="#">Technologies 7</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <dvi class="col-sm-12"><p>© 2019 1xglobal. All Rights Reserved.</p></dvi>
      </div>
    </div>
  </div>
</footer>

{{- $script := resources.Get "script/index.js" | resources.Minify -}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ $script.RelPermalink }}"></script>