<div class="scroll"></div>
<footer class="footer">
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="menu">
            <h3>Services</h3>
            <ul>
              <li class="item">
                <a href="/services/consulting-services/">Consulting Services</a>
              </li>
              <li class="item">
                <a href="/services/lab-services/">Lab Services</a>
              </li>
              <!-- <li class="item">
                <a href="/services/supply-chain-services/">Supply Chain Management</a>
              </li> -->
              <li class="item">
                <a href="/services/deployment-services/">Deployment Services</a>
              </li>
              <li class="item">
                <a href="/services/staffing-services/">Staffing Services</a>
              </li>
              <li class="item">
                <a href="/services/lifecycle-services/">Lifecycle Services</a>
              </li>
              <li class="item">
                <a href="/services/managed-services/">Managed Services</a>
              </li>
              <li class="item">
                <a href="/services/it-asset-disposal/">IT Asset Disposal</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Solutions</h3>
            <ul>
              <li class="item">
                <a href="/solutions/big-data/">Big Data</a>
              </li>
              <li class="item">
                <a href="/solutions/multicloud/">Multicloud</a>
              </li>
              <li class="item">
                <a href="/solutions/collaboration/">Collaboration</a>
              </li>
              <li class="item">
                <a href="/solutions/analytics/">Analytics</a>
              </li>
              <li class="item">
                <a href="/solutions/iot/">Internet of Things (IoT)</a>
              </li>
              <li class="item">
                <a href="/solutions/mobility/">Mobility</a>
              </li>
              <li class="item">
                <a href="/solutions/networking/">Networking</a>
              </li>
              <li class="item">
                <a href="/solutions/security/">Security</a>
              </li>
              <li class="item">
                <a href="/solutions/software-development/">Software</a>
              </li>
              <li class="item">
                <a href="/solutions/storage/">Storage</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Industries</h3>
            <ul>
              <li class="item">
                <a href="/industries/education/">Education</a>
              </li>
              <li class="item">
                <a href="/industries/federal-government/">Federal Government</a>
              </li>
              <li class="item">
                <a href="/industries/financial-services/">Financial Services</a>
              </li>
              <li class="item">
                <a href="/industries/healthcare/">Healthcare</a>
              </li>
              <li class="item">
                <a href="/industries/manufacturing/">Manufacturing</a>
              </li>
              <li class="item">
                <a href="/industries/oil-gas/">Oil & Gas</a>
              </li>
              <li class="item">
                <a href="/industries/retail/">Retail</a>
              </li>
              <li class="item">
                <a href="/industries/service-provider/">Service Provider</a>
              </li>
              <li class="item">
                <a href="/industries/state-local-government/">State & Local Government</a>
              </li>
              <li class="item">
                <a href="/industries/utilities/">Utilities</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="menu">
            <h3>Technologies</h3>
            <ul>
              <li class="item">
                <a href="/technology/java-development/">Java</a>
              </li>
              <li class="item">
                <a href="/technology/scala-development/">Scala</a>
              </li>
              <li class="item">
                <a href="/technology/net-development/">.NET</a>
              </li>
              <li class="item">
                <a href="/technology/unity-3d-development/">Unity 3D</a>
              </li>
              <li class="item">
                <a href="/technology/python-development/">Python</a>
              </li>
              <li class="item">
                <a href="/technology/ruby-development/">Ruby</a>
              </li>
              <li class="item">
                <a href="/technology/c-development/">C/C++</a>
              </li>
              <li class="item">
                <a href="/technology/unreal-engine-development/">Unreal Engine</a>
              </li>
              <li class="item">
                <a href="/technology/php-development/">PHP</a>
              </li>
              <li class="item">
                <a href="/technology/javascript-development/">Javascript</a>
              </li>
              <li class="item">
                <a href="/technology/ios-development/">ios</a>
              </li>
              <li class="item">
                <a href="/technology/android-development/">Android</a>
              </li>
              <li class="item">
                <a href="/technology/photon-engine/">Photon Engine</a>
              </li>
              <li class="item">
                <a href="/technology/golang-development/">Golang</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <dvi class="col-sm-12"><p>© 2019 1xglobal. All Rights Reserved.</p></dvi>
      </div>
    </div>
  </div>
</footer>

{{- $script := resources.Get "script/index.js"}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{{ $script.RelPermalink }}"></script>