<section class="footer-contact home-secondary-section">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-9">
        <h1 class="contact-title">Let's talk together</h1>
        <p>Speaking comes to most people as naturally as breathing. On many occasions our words are uttered without
          conscious
          thought; in fact we rarely stop</p>
        <a href="#" class="btn-primary-orange" data-aos="zoom-in" data-aos-duration="3000">View all</a>

      </div>
    </div>
  </div>
</section>