{{- $avatar := resources.Get (.Site.Params.avatar | default "images/logo.png") -}}

<div class="navik-header header-transparent header-shadow viewport-lg sticky" style="margin-top: 0px;">
  <div class="">

    <!-- Navik header -->
    <div class="navik-header-container">

      <!--Logo-->
      <div class="logo" data-mobile-logo="{{ $avatar.RelPermalink }}" data-sticky-logo="{{ $avatar.RelPermalink }}">
        <a href="{{ .Site.Home.URL }}"><img src="{{ $avatar.RelPermalink }}" alt="logo"></a>
      </div>

      <!-- Burger menu -->
      <div class="burger-menu">
        <div class="line-menu line-half first-line"></div>
        <div class="line-menu"></div>
        <div class="line-menu line-half last-line"></div>
      </div>

      <!--Navigation menu-->
      <nav class="navik-menu menu-caret submenu-top-border submenu-scale">
        <ul>
          <li class="dropdown_menu mega-menu"><a href="/expertise/">Expertise<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row align-items-center">
                    
                    <div class="col">
                      <a href="/expertise/high-load-systems/">
                        <i class="wwt-icon-services-consulting-3"></i>
                        High Load Systems</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/cloud-solutions/">
                        <i class="wwt-icon-services-lab-3"></i>
                        Cloud Solutions</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/digital-transformation/">
                        <i class="wwt-icon-services-supplychain-3"></i>
                        Digital Transformation</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/business-intelligence/">
                        <i class="wwt-icon-services-deployment-3"></i>
                        Business Intelligence</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/machine-learning-ai/">
                        <i class="wwt-icon-services-staffing-3"></i>
                        Machine Learning & AI</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/data-science/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        Data science</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/big-data/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        Big Data</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/blockchain/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        Blockchain</a>
                    </div>
                    <div class="col">
                      <a href="/services/ui-ux/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        UI / UX</a>
                    </div>
                    <div class="col">
                      <a href="/expertise/">
                        View All</a>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/services/">Services<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row align-items-center">
                    <div class="col">
                      <a href="/services/consulting-services/">
                        <i class="wwt-icon-services-consulting-3"></i>
                        Consulting</a>
                    </div>
                    <div class="col">
                      <a href="/services/it-asset-disposal/">
                        <i class="wwt-icon-services-consulting-3"></i>
                        IT Asset Disposal</a>
                    </div>
                    <div class="col">
                      <a href="/services/managed-services/">
                        <i class="wwt-icon-services-consulting-3"></i>
                        Managed Services</a>
                    </div>
                    <div class="col">
                      <a href="/services/lab-services/">
                        <i class="wwt-icon-services-lab-3"></i>
                        Lab</a>
                    </div>
                    <div class="col">
                      <a href="/services/supply-chain-services/">
                        <i class="wwt-icon-services-supplychain-3"></i>
                        Supply Chain</a>
                    </div>
                    <div class="col">
                      <a href="/services/deployment-services/">
                        <i class="wwt-icon-services-deployment-3"></i>
                        deployment</a>
                    </div>
                    <div class="col">
                      <a href="/services/staffing-services/">
                        <i class="wwt-icon-services-staffing-3"></i>
                        staffing</a>
                    </div>
                    <div class="col">
                      <a href="/services/lifecycle-services/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        lifecycle</a>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/solutions/">Solutions<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="/solutions/big-data/">
                        <i class=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                          viewBox="0 0 64 80" enable-background="new 0 0 64 64" xml:space="preserve">
                          <path
                            d="M31.783,28.918c4.406,0,11.742-0.962,12.206-4.487c0.027-0.112,0.045-0.228,0.045-0.348V6.752  c0-0.121-0.018-0.236-0.045-0.348c-0.464-3.522-7.8-4.485-12.206-4.485c-4.405,0-11.741,0.962-12.206,4.485  c-0.026,0.112-0.044,0.228-0.044,0.348v17.332c0,0.12,0.018,0.236,0.044,0.348C20.041,27.956,27.378,28.918,31.783,28.918z   M41.033,15.307c-0.467,0.611-3.597,1.945-9.25,1.945c-5.655,0-8.785-1.335-9.25-1.945v-5.215c2.655,1.121,6.516,1.494,9.25,1.494  s6.596-0.373,9.25-1.494V15.307z M31.783,25.918c-5.655,0-8.785-1.335-9.25-1.946v-5.215c2.655,1.121,6.516,1.494,9.25,1.494  s6.596-0.373,9.25-1.494v5.215C40.566,24.584,37.437,25.918,31.783,25.918z M31.783,4.919c5.329,0,8.417,1.186,9.145,1.833  C40.2,7.4,37.112,8.586,31.783,8.586c-5.329,0-8.417-1.186-9.145-1.833C23.366,6.105,26.454,4.919,31.783,4.919z" />
                          <path
                            d="M13.283,35.082c-4.405,0-11.742,0.963-12.206,4.486c-0.026,0.112-0.044,0.228-0.044,0.348v17.33  c0,0.12,0.018,0.235,0.044,0.348c0.464,3.523,7.801,4.486,12.206,4.486s11.742-0.963,12.206-4.486  c0.026-0.112,0.044-0.228,0.044-0.348v-17.33c0-0.12-0.018-0.235-0.044-0.348C25.024,36.045,17.688,35.082,13.283,35.082z   M22.533,48.469c-0.465,0.61-3.595,1.945-9.25,1.945s-8.785-1.335-9.25-1.945v-5.215c2.655,1.121,6.516,1.494,9.25,1.494  s6.595-0.373,9.25-1.494V48.469z M13.283,38.082c5.33,0,8.417,1.186,9.145,1.833c-0.729,0.647-3.817,1.833-9.145,1.833  c-5.327,0-8.416-1.186-9.144-1.833C4.866,39.268,7.954,38.082,13.283,38.082z M13.283,59.08c-5.655,0-8.785-1.335-9.25-1.945V51.92  c2.655,1.121,6.516,1.494,9.25,1.494s6.595-0.373,9.25-1.494v5.215C22.067,57.745,18.938,59.08,13.283,59.08z" />
                          <path
                            d="M62.922,39.566c-0.464-3.522-7.8-4.484-12.205-4.484s-11.742,0.962-12.205,4.484c-0.027,0.112-0.045,0.228-0.045,0.348  v17.332c0,0.12,0.018,0.235,0.045,0.348c0.463,3.523,7.8,4.486,12.205,4.486s11.742-0.963,12.205-4.486  c0.027-0.112,0.045-0.228,0.045-0.348V39.914C62.967,39.794,62.949,39.679,62.922,39.566z M59.967,48.469  c-0.467,0.611-3.597,1.945-9.25,1.945s-8.783-1.334-9.25-1.945v-5.215c2.654,1.121,6.517,1.494,9.25,1.494s6.596-0.373,9.25-1.494  V48.469z M50.717,38.082c5.328,0,8.416,1.186,9.145,1.833c-0.728,0.647-3.815,1.833-9.145,1.833c-5.328,0-8.416-1.186-9.145-1.833  C42.302,39.267,45.39,38.082,50.717,38.082z M50.717,59.08c-5.653,0-8.783-1.334-9.25-1.945V51.92  c2.654,1.121,6.517,1.494,9.25,1.494s6.596-0.373,9.25-1.494v5.215C59.5,57.746,56.37,59.08,50.717,59.08z" />
                          <path
                            d="M36.346,50.414H27.22c-0.829,0-1.5,0.672-1.5,1.5s0.671,1.5,1.5,1.5h9.125c0.828,0,1.5-0.672,1.5-1.5  S37.174,50.414,36.346,50.414z" />
                          <path
                            d="M10.711,34.213c0.384,0,0.768-0.146,1.061-0.439l6.453-6.452c0.586-0.585,0.586-1.535,0-2.121  c-0.585-0.586-1.535-0.586-2.121,0l-6.453,6.452c-0.586,0.585-0.586,1.535,0,2.121C9.943,34.066,10.328,34.213,10.711,34.213z" />
                          <path
                            d="M51.793,33.773c0.293,0.293,0.677,0.439,1.061,0.439s0.768-0.146,1.061-0.439c0.586-0.586,0.586-1.535,0-2.121L47.463,25.2  c-0.586-0.586-1.535-0.586-2.121,0c-0.586,0.585-0.586,1.535,0,2.121L51.793,33.773z" />
                          </svg></i>
                        bigdata</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/collaboration/">
                        <i class="wwt-icon-solutions-collaboration"></i>
                        collaboration</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/analytics/">
                        <i class="wwt-icon-solutions-compute"></i>
                        Analytics</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/iot/">
                        <!-- <i class="wwt-icon-solutions-IoT"></i> -->
                        <i class="wwt-icon-solutions-mobility"></i>
                        IoT</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/mobility/">
                        <i class="wwt-icon-solutions-mobility"></i>
                        mobility</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/networking/">
                        <i class="wwt-icon-solutions-networking"></i>
                        networking</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/security/">
                        <i class="wwt-icon-solutions-security"></i>
                        security</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/software-development/">
                        <i class="wwt-icon-solutions-software"></i>
                        software</a>
                    </div>
                    <div class="col">
                      <a href="/solutions/storage/">
                        <i class="wwt-icon-solutions-storage"></i>
                        storage</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/industries/">Industries<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="/industries/education/">
                        <i class="wwt-icon-industries-education-3"></i>
                        education</a>
                    </div>
                    <div class="col">
                      <a href="/industries/federal-government/">
                        <i class="wwt-icon-industries-federal-3"></i>
                        Federal Government</a>
                    </div>
                    <div class="col">
                      <a href="/industries/financial-services/">
                        <i class="wwt-icon-industries-financial-3"></i>
                        financial</a>
                    </div>
                    <div class="col">
                      <a href="/industries/healthcare/">
                        <i class="wwt-icon-industries-healthcare-3"></i>
                        healthcare</a>
                    </div>
                    <div class="col">
                      <a href="/industries/manufacturing/">
                        <i class="wwt-icon-industries-manufacturing-3"></i>
                        manufacturing</a>
                    </div>
                    <div class="col">
                      <a href="/industries/oil-gas/">
                          <i class="wwt-icon-industries-oilgas-3"></i>
                          Oil &amp; Gas</a>
                    </div>
                    <div class="col">
                      <a href="/industries/retail/">
                        <i class="wwt-icon-industries-retail-3"></i>
                        retail</a>
                    </div>
                    <div class="col">
                      <a href="/industries/service-provider/">
                        <i class="wwt-icon-industries-serviceprovider-3"></i>
                        service provider</a>
                    </div>
                    <div class="col">
                      <a href="/industries/state-local-government/">
                        <i class="wwt-icon-industries-govt-3"></i>
                        state &amp; local Government</a>
                    </div>
                    <div class="col">
                      <a href="/industries/utilities/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        utilities</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="#">Success Stories</a></li>
          <li class="dropdown_menu mega-menu"><a href="/technology/">Technologies<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="/technology/java/">
                        <i class="wwt-icon-industries-education-3"></i>
                        Java</a>
                    </div>
                    <div class="col">
                      <a href="/technology/scala-development/">
                        <i class="wwt-icon-industries-federal-3"></i>
                        Scala</a>
                    </div>
                    <div class="col">
                      <a href="/technology/net-development/">
                        <i class="wwt-icon-industries-financial-3"></i>
                        .NET</a>
                    </div>
                    <div class="col">
                      <a href="/technology/unity-3d-development/">
                        <i class="wwt-icon-industries-healthcare-3"></i>
                        Unity 3D</a>
                    </div>
                    <div class="col">
                      <a href="/technology/python-development/">
                        <i class="wwt-icon-industries-manufacturing-3"></i>
                        Python</a>
                    </div>
                    <div class="col">
                      <a href="/technology/ruby-development/">
                          <i class="wwt-icon-industries-oilgas-3"></i>
                          Ruby</a>
                    </div>
                    <div class="col">
                      <a href="/technology/c-development/">
                        <i class="wwt-icon-industries-retail-3"></i>
                        C/C++</a>
                    </div>
                    <div class="col">
                      <a href="/technology/unreal-engine-development/">
                        <i class="wwt-icon-industries-serviceprovider-3"></i>
                        Unreal Engine</a>
                    </div>
                    <div class="col">
                      <a href="/technology/php-development/">
                        <i class="wwt-icon-industries-govt-3"></i>
                        PHP</a>
                    </div>
                    <div class="col">
                      <a href="/technology/javascript-development/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        Javascript</a>
                    </div>
                    <div class="col">
                      <a href="/technology/android-development/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        Android</a>
                    </div>
                    <div class="col">
                      <a href="/technology/photon-engine-development/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        Photon Engine</a>
                    </div>
                    <div class="col">
                      <a href="/technology/golang-development/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        Golang</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="/careers/">Career</a></li>
          <li><a href="/training/">Training</a></li>
          <li><a href="/event/">Events</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </nav>

    </div>

  </div>
  <div class="header-shadow-wrapper"></div>
</div>