{{- $avatar := resources.Get (.Site.Params.avatar | default "images/logo.png") -}}

<div class="navik-header header-transparent header-shadow viewport-lg sticky" style="margin-top: 0px;">
  <div class="">

    <!-- Navik header -->
    <div class="navik-header-container">

      <!--Logo-->
      <div class="logo" data-mobile-logo="{{ $avatar.RelPermalink }}" data-sticky-logo="{{ $avatar.RelPermalink }}">
        <a href="{{ .Site.Home.URL }}"><img src="{{ $avatar.RelPermalink }}" alt="logo"></a>
      </div>

      <!-- Burger menu -->
      <div class="burger-menu">
        <div class="line-menu line-half first-line"></div>
        <div class="line-menu"></div>
        <div class="line-menu line-half last-line"></div>
      </div>

      <!--Navigation menu-->
      <nav class="navik-menu menu-caret submenu-top-border submenu-scale">
        <ul>
          <li class=""><a href="#">Expertise<span></span></a>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/services/">Services<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row align-items-center">
                    <div class="col">
                      <a href="/services/atc/">Technology Center</a>
                      <a href="/services/global-integration-centers/">Integration Centers</a>
                    </div>
                    <div class="col">
                      <a href="/services/consulting-services/">
                        <i class="wwt-icon-services-consulting-3"></i>
                        Consulting</a>
                    </div>
                    <div class="col">
                      <a href="/services/lab-services/">
                        <i class="wwt-icon-services-lab-3"></i>
                        Lab</a>
                    </div>
                    <div class="col">
                      <a href="/services/supply-chain-services/">
                        <i class="wwt-icon-services-supplychain-3"></i>
                        Supply Chain</a>
                    </div>
                    <div class="col">
                      <a href="/services/deployment-services/">
                        <i class="wwt-icon-services-deployment-3"></i>
                        deployment</a>
                    </div>
                    <div class="col">
                      <a href="/services/staffing-services/">
                        <i class="wwt-icon-services-staffing-3"></i>
                        staffing</a>
                    </div>
                    <div class="col">
                      <a href="/services/lifecycle-services/">
                        <i class="wwt-icon-services-lifecycle-3"></i>
                        lifecycle</a>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/solution/">Solutions<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="/solution/big-data/">
                        <i class="wwt-icon-solutions-bigdata"></i>
                        bigdata</a>
                    </div>
                    <div class="col">
                      <a href="/solution/multicloud/">
                        <i class="wwt-icon-solutions-computecloud"></i>
                        Multicloud</a>
                    </div>
                    <div class="col">
                      <a href="/solution/collaboration/">
                        <i class="wwt-icon-solutions-collaboration"></i>
                        collaboration</a>
                    </div>
                    <div class="col">
                      <a href="/solution/compute/">
                        <i class="wwt-icon-solutions-compute"></i>
                        compute</a>
                    </div>
                    <div class="col">
                      <a href="/solution/iot/">
                        <!-- <i class="wwt-icon-solutions-IoT"></i> -->
                        <i class="wwt-icon-solutions-mobility"></i>
                        IoT</a>
                    </div>
                    <div class="col">
                      <a href="/solution/mobility/">
                        <i class="wwt-icon-solutions-mobility"></i>
                        mobility</a>
                    </div>
                    <div class="col">
                      <a href="/solution/networking/">
                        <i class="wwt-icon-solutions-networking"></i>
                        networking</a>
                    </div>
                    <div class="col">
                      <a href="/solution/security/">
                        <i class="wwt-icon-solutions-security"></i>
                        security</a>
                    </div>
                    <div class="col">
                      <a href="/solution/software-development/">
                        <i class="wwt-icon-solutions-software"></i>
                        software</a>
                    </div>
                    <div class="col">
                      <a href="/solution/storage/">
                        <i class="wwt-icon-solutions-storage"></i>
                        storage</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown_menu mega-menu"><a href="/induestries/">Industries<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="/induestries/education/">
                        <i class="wwt-icon-industries-education-3"></i>
                        education</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/federal-government/">
                        <i class="wwt-icon-industries-federal-3"></i>
                        federal Government</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/financial-services/">
                        <i class="wwt-icon-industries-financial-3"></i>
                        financial</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/healthcare/">
                        <i class="wwt-icon-industries-healthcare-3"></i>
                        healthcare</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/manufacturing/">
                        <i class="wwt-icon-industries-manufacturing-3"></i>
                        manufacturing</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/oil-gas/">
                          <i class="wwt-icon-industries-oilgas-3"></i>
                          Oil &amp; Gas</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/retail/">
                        <i class="wwt-icon-industries-retail-3"></i>
                        retail</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/service-provider/">
                        <i class="wwt-icon-industries-serviceprovider-3"></i>
                        service provider</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/state-local-government/">
                        <i class="wwt-icon-industries-govt-3"></i>
                        state &amp; local Government</a>
                    </div>
                    <div class="col">
                      <a href="/induestries/utilities/">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        utilities</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="#">Success Stories</a></li>
          <li class="dropdown_menu mega-menu"><a href="/technology/">Technologies<span></span></a>
            <ul>
              <li>
                <div class="mega-menu-container">
                  <div class="row">
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-education-3"></i>
                        education</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-federal-3"></i>
                        federal Government</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-financial-3"></i>
                        financial</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-healthcare-3"></i>
                        healthcare</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-manufacturing-3"></i>
                        manufacturing</a>
                    </div>
                    <div class="col">
                      <a href="#">
                          <i class="wwt-icon-industries-oilgas-3"></i>
                          Oil &amp; Gas</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-retail-3"></i>
                        retail</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-serviceprovider-3"></i>
                        service provider</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-govt-3"></i>
                        state &amp; local Government</a>
                    </div>
                    <div class="col">
                      <a href="#">
                        <i class="wwt-icon-industries-utilities-3"></i>
                        utilities</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="/careers/">Career</a></li>
          <li><a href="/training/">Training</a></li>
          <li><a href="/event/">Events</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
      </nav>

    </div>

  </div>
  <div class="header-shadow-wrapper"></div>
</div>