
{{- $style := resources.Get "styles/main.scss" | resources.ToCSS -}}
<!-- {{- $style := resources.Get "styles/main.scss" | resources.ToCSS | resources.Minify -}} -->
<head>
  <title>Demo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

</head>